.navigate {
    display: flex;
    flex-direction: column;

    &__link {
        color: red;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}