.container {
    min-height: 96vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: transparent;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.formCard {
    max-width: 32rem;
    width: 100%;

    background: rgba(39, 44, 44, 0.75);
    backdrop-filter: blur(12px);

    padding: 2.5rem;
    border-radius: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    animation: cardAppear 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes cardAppear {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .container {
        background-attachment: scroll;
    }
}

.header {
    text-align: center;
}

.subtitle {
    margin-top: 0.5rem;
    color: #93c5fd;
    font-style: italic;
}

.form {
    margin-top: 2rem;
}

.inputGroup {
    margin-bottom: 1.5rem;
}

.inputContainer {
    position: relative;
    transition: all 0.3s ease;
}

.icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #5d615c;
    transition: color 0.3s ease;
}

.input {
    width: 86%;
    padding: 0.75rem 1rem 0.75rem 3rem;
    background: rgba(55, 65, 81, 0.7);
    border: 2px solid transparent;
    border-radius: 0.75rem;
    color: #e0f2fe;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;

    &:focus {
        border-color: #5c5a5a;
        box-shadow: 0 0 10px rgba(82, 78, 78, 0.5);
    }
}

.inputError {
    border-color: #ef4444;
    animation: shake 0.3s ease;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    75% {
        transform: translateX(5px);
    }
}

.errorText {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: #f87171;
    font-weight: 500;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.passwordToggle {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #93c5fd;

    &:hover {
        color: #e0f2fe;
    }
}



.link {
    color: #0de32d;
    font-weight: 600;
    transition: color 0.2s ease;

    &:hover {
        color: #04840f;
    }
}

button {
    display: flex;
    justify-content: center;
    height: 50px;
    position: relative;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    border: 0;
    box-shadow: hsl(132, 94%, 13%) 0px 7px 0px 0px;
    background-color: hsl(138, 100%, 16%);
    border-radius: 12px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
    align-items: center;
}

button:before {
    content: attr(aria-label);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;
    opacity: 1;
}

button:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
}

button:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
}

button i {
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
}

button:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
}

button:hover i:nth-child(1) {
    transition-delay: 0.045s;
}

button:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 3);
}

button:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 4);
}

button:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 5);
}

button:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 6);
}

button:hover i:nth-child(7) {
    transition-delay: calc(0.045s * 7);
}

button:hover i:nth-child(8) {
    transition-delay: calc(0.045s * 8);
}

button:hover i:nth-child(9) {
    transition-delay: calc(0.045s * 9);
}

button:hover i:nth-child(10) {
    transition-delay: calc(0.045s * 10);
}

button:hover i:nth-child(11) {
    transition-delay: calc(0.045s * 11);
}

button:hover i:nth-child(12) {
    transition-delay: calc(0.045s * 12);
}

button:hover i:nth-child(13) {
    transition-delay: calc(0.045s * 13);
}

button:hover i:nth-child(14) {
    transition-delay: calc(0.045s * 14);
}

button:hover i:nth-child(15) {
    transition-delay: calc(0.045s * 15);
}

button:hover i:nth-child(16) {
    transition-delay: calc(0.045s * 16);
}

button:hover i:nth-child(17) {
    transition-delay: calc(0.045s * 17);
}

button:hover i:nth-child(18) {
    transition-delay: calc(0.045s * 18);
}