.sidebar {
    background-color: rgb(22, 22, 24);
    box-shadow: 0 0 15px rgba(44, 44, 44, 0.7);
    z-index: 1000;
    padding: 20px;
    display: flex;
    flex-direction: column;

    &.open {}

    &.closed {}

    &__content {
        flex: 1;
        overflow-y: auto;
    }
}